In [16]:
import yfinance as yf
import pandas as pd
from pathlib import Path

In [18]:
data = yf.download("JPM BAC C WFC GS MS PNC USB COF BNY STT KEY FITB TD", start="2008-01-31", end="2021-04-01", interval="1mo")

stock_data_df = pd.DataFrame(data).dropna()

stock_data_df.drop(columns=["Volume","Open","Low","High","Close"],axis=1,level=0,inplace=True)

display(stock_data_df.shape)
display(stock_data_df)

[*********************100%***********************]  14 of 14 completed

(159, 14)

            Adj Close                                                \
                  BAC        BNY           C         COF       FITB
Date
2008-02-01  31.548317   7.070978  196.573074   36.530891  15.906178
2008-03-01  30.095537   7.302771  177.587296   39.360386  14.530881
2008-04-01  30.301884   7.533551  209.506577   42.383194  15.183636
2008-05-01  27.452501   7.202706  181.483978   38.480747  13.249374
2008-06-01  19.267612   7.193567  140.734665   30.607710   7.212760
...               ...        ...         ...         ...        ...
2020-12-01  29.695562  13.939845   60.266556   97.539505  26.724453
2021-01-01  29.229996  14.427583   56.679493  102.877785  28.323067
2021-02-01  34.218319  14.696718   64.940071  118.596596  33.962223
2021-03-01  38.141941  14.953994   71.712051  125.971199  36.664322
2021-04-01  40.154335  14.038942   70.223595  147.605026  39.979828

                                                                      \
                    GS         JPM        KEY         MS         PNC
Date
2008-02-01  139.744537   28.768993  15.291545  32.833176   43.543236
2008-03-01  136.251495   30.396744  15.468933  35.623863   46.477776
2008-04-01  157.654327   33.723057  17.005255  37.884434   49.157158
2008-05-01  145.599960   30.680206  13.721187  34.674561   46.001305
2008-06-01  144.353668   24.479940   7.868788  28.277435   40.882103
...                ...         ...        ...        ...         ...
2020-12-01  259.115784  123.957153  15.987152  67.396317  145.110168
2021-01-01  267.898102  125.517960  16.425558  65.940811  139.773224
2021-02-01  315.625183  144.598663  19.621040  75.987061  165.140686
2021-03-01  323.054474  149.570267  19.465164  76.767990  172.055878
2021-04-01  345.597870  151.122665  21.395832  81.601822  183.375198


                  STT         TD        USB        WFC
Date
2008-02-01  60.794300  19.602030  22.356318  20.080313
2008-03-01  61.142570  17.940987  22.593708  20.196489
2008-04-01  55.993351  19.221865  23.962364  20.647608
2008-05-01  55.900196  21.334978  23.467415  19.134617
2008-06-01  49.667515  18.390490  19.719982  16.648439
...               ...        ...        ...        ...
2020-12-01  70.897659  54.286316  45.136372  29.889214
2021-01-01  68.682724  54.449890  41.894501  29.592102
2021-02-01  71.400597  58.709507  48.885063  35.821499
2021-03-01  82.429092  63.416378  54.076660  38.816006
2021-04-01  82.869484  66.859016  58.468235  44.757130

[159 rows x 14 columns]

In [19]:
stock_data_df.to_csv("stockdata_2.csv")